/* Estilos para a página de artigos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.navbar {
    width: 100%;
    background-color: #F2A922;
    padding: 1rem 2rem;
}

.navbar .container-fluid {
    max-width: 1536px;
    margin: 0 auto;
}

.h1container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.figure-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

/*  Rodapé */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 20px;
}